flows.json
[{"id":"71f85dd5.d08864","type":"ui_form","z":"b5dab4ff.12ab18","name":"","label":"","group":"24fa6f04.a7496","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":90,"y":100,"wires":[["b34cb3bc.f44a4","896a5188.664fd"]]},{"id":"b34cb3bc.f44a4","type":"debug","z":"b5dab4ff.12ab18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":40,"wires":[]},{"id":"896a5188.664fd","type":"function","z":"b5dab4ff.12ab18","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Email:msg.payload.email,\n    Password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["b198801e.068fb"]]},{"id":"b198801e.068fb","type":"cloudant out","z":"b5dab4ff.12ab18","name":"cloudant","cloudant":"","database":"sample","service":"node-red-jgqyq-2020--cloudant-1597403162347-241","payonly":true,"operation":"insert","x":460,"y":140,"wires":[]},{"id":"696691b4.61c3","type":"ui_form","z":"b5dab4ff.12ab18","name":"","label":"","group":"ab3f5fb8.67762","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["99fd07c7.1ab758"]]},{"id":"99fd07c7.1ab758","type":"function","z":"b5dab4ff.12ab18","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[["3f6196bd.69368a"]]},{"id":"3f6196bd.69368a","type":"function","z":"b5dab4ff.12ab18","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":280,"wires":[["c9ea2acc.859618"]]},{"id":"c9ea2acc.859618","type":"cloudant in","z":"b5dab4ff.12ab18","name":"","cloudant":"","database":"sample","service":"node-red-jgqyq-2020--cloudant-1597403162347-241","search":"_idx_","design":"user","index":"user","x":700,"y":280,"wires":[["57700488.3f5dac"]]},{"id":"57700488.3f5dac","type":"function","z":"b5dab4ff.12ab18","name":"","func":"if(msg.payload[0].Password===global.get('password')){\n    msg.payload='Login Succesfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":280,"wires":[["7ee5798e.a91e48","e90efc14.eedef"]]},{"id":"7ee5798e.a91e48","type":"debug","z":"b5dab4ff.12ab18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":400,"wires":[]},{"id":"e90efc14.eedef","type":"ui_text","z":"b5dab4ff.12ab18","group":"ab3f5fb8.67762","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":280,"wires":[]},{"id":"7361793a.a663f8","type":"ui_form","z":"b5dab4ff.12ab18","name":"","label":"","group":"28b29c69.a6f344","order":0,"width":"0","height":"0","options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":640,"wires":[["df873a3f.e1b0c8"]]},{"id":"df873a3f.e1b0c8","type":"function","z":"b5dab4ff.12ab18","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":640,"wires":[["1024438a.3a0dfc"]]},{"id":"1024438a.3a0dfc","type":"watson-conversation-v1","z":"b5dab4ff.12ab18","name":"","workspaceid":"6bad307b-21d9-4a86-82da-2e62357b1aaa","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/4eabc159-c6e5-43a0-b9ba-7ee2f97a5b0d","timeout":"","optout-learning":false,"x":520,"y":640,"wires":[["bf487609.f31eb8","df7b1908.86b978"]]},{"id":"95daa1fc.3599e","type":"ui_text","z":"b5dab4ff.12ab18","group":"28b29c69.a6f344","order":1,"width":"6","height":"9","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":640,"wires":[]},{"id":"bf487609.f31eb8","type":"debug","z":"b5dab4ff.12ab18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":760,"wires":[]},{"id":"df7b1908.86b978","type":"function","z":"b5dab4ff.12ab18","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":540,"wires":[["95daa1fc.3599e","f480ea16.2a1988"]]},{"id":"f480ea16.2a1988","type":"ui_audio","z":"b5dab4ff.12ab18","name":"","group":"28b29c69.a6f344","voice":"","always":"","x":890,"y":540,"wires":[]},{"id":"24fa6f04.a7496","type":"ui_group","z":"","name":"Reg form","tab":"81dcc1fe.6f538","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab3f5fb8.67762","type":"ui_group","z":"","name":"Login Form","tab":"b081389b.7ba7c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"28b29c69.a6f344","type":"ui_group","z":"","name":"bot","tab":"b884d3fe.78458","order":1,"disp":true,"width":"6","collapse":false},{"id":"81dcc1fe.6f538","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"b081389b.7ba7c8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"b884d3fe.78458","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false}]
